*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(234, 238, 238);
    color: #5a5a5d;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

#cuerpo{
    width: 100%;
    height: 100%;
    background:#fffbf8;
    background-size: cover;
    background-position: center;
}

.separador{
    background-color: #8b8d92;
    width: 100%;
    height: 8vh;

}


#perfil{
    display: flex;
    justify-content: right;
    align-items: center;
}
#foto_perfil{
    width: 275px;
    margin: 25px 25px 25px 30px;
    border-radius: 50%;
    border: 10px solid crimson;
    
}


.primary_color{
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ababb1;
    
}

.secundary_color{
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 15px;

}

#full_name{
    display: flex;
    margin-left: 15px;
    margin-top: 5px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #5a5a5d;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:rgb(174, 56, 56);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 2%;
    font-size: 16px;
    padding: 10px 10%;
}

.body-text{
    font-size: 16px;
    padding: 10px 10%;

    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 15px;
}

.body-text h1{
    color: #5a5a5d;
}

.body-text h2{
    color: #4d573b;
}

.body-text p{
    color: #5a5a5d;
}

h2{
    font-size: 24px;
}

.body-text #education{
    padding-left: 50%;
    justify-content: center;
    
    
}

.body-text #cursos{
    padding-left: 50%;
    
}

